@import "tailwindcss";

:root {
  --background: #1e1e1e;
  --foreground: #1e1e1e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-bebas: var(--font-bebas);
  --font-permanent: var(--font-permanent);
  --font-homevideo: var(--font-homevideo);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  width: 7px;
  background-color: #000;
}

body::-webkit-scrollbar-thumb {
  background-color: #a4ffbc;
}
